body {
    background-color: black;
}

div {
    color: white;
    border-radius: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

input {
    color: white
}

.red {
    color: red
}

a {
    color: white;
}
